* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -999999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #222;
  min-height: 75px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
}

.left-menu {
  min-width: 111px;
  height: 38px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-menu img {
  vertical-align: bottom;
}

.right-menu img {
  vertical-align: bottom;
}

.right-menu {
  min-width: 169px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn {
  cursor: pointer;
}

#burger-menu {
  display: none;
}

.burger-drop-menu {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  min-height: 764px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
  z-index: 20;
}

.nav {
  position: relative;
}

.nav p {
  display: block;
}

.burger-img {
  position: absolute;
  top: 10px;
  right: 16px;
  cursor: pointer;
}

.nav {
  background-color: #FFFFFF;
  width: 232px;
  padding-left: 34px;
}

.nav-sub-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav-title {
  margin-top: 37px;
  margin-bottom: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.nav-list {
  margin-bottom: 20px;
  padding-left: 20px;
}

.nav-item {
  list-style-type: none;
  margin: 11px 0;
}

.nav-link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

#burger-menu:checked ~ .burger-drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* PROMO */
.promo {
  margin: 0;
  background-color: #F1E4E6;
  min-height: 764px;
}

.promo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-left {
  margin: 0;
  max-width: 570px;
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-right {
  margin: 0;
  width: 50%;
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6%;
}

.promo-right h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  max-width: 405px;
  min-height: 93px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo-right h2 .brand {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: #222222;
}

.promo-right h2 .fashion {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #F16D7F;
}

/* CATEGORIES */
.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 96px;
}

.categories-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.img-women {
  background-color: #C4C4C4;
  min-width: 360px;
  min-height: 260px;
  background-image: url(../img/for_women.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-men {
  background-color: #C4C4C4;
  min-width: 360px;
  min-height: 260px;
  background-image: url(../img/for_men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-kids {
  background-color: #C4C4C4;
  min-width: 360px;
  min-height: 260px;
  background-image: url(../img/for_kids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-acc {
  background-color: #C4C4C4;
  min-width: 100%;
  min-height: 180px;
  background-image: url(../img/accesories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.categories a {
  text-decoration: none;
  text-align: center;
  display: block;
}

.categories-up a {
  min-width: 360px;
  min-height: 260px;
  padding-top: 105px;
}

a .white-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

a .rose-text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

/* FEATURED ITEMS */
.fiatured-items {
  margin-top: 97px;
}

.featured-h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0;
  text-align: center;
}

.featured-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 48px;
  text-align: center;
}

.fiatured-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards {
  width: 360px;
  min-height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.hover-cards {
  position: absolute;
  background-color: #3A3838;
  top: 0;
  bottom: 161px;
  left: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards:hover .hover-cards {
  opacity: 0.8;
}

.btn-card-hover {
  width: 139px;
  height: 44px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #3A3838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cards-link {
  display: block;
  height: 100%;
}

.cards p {
  display: inline-block;
  width: 320px;
  margin: 0;
}

p.h2-cards {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 17px;
  margin-top: 24px;
  color: #000000;
}

p.text-cards {
  margin-left: 17px;
  margin-top: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

p.text-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 17px;
  margin-top: 18px;
  margin-bottom: 20px;
}

.btn-browse {
  max-width: 215px;
  max-height: 48px;
  display: block;
  border: 1px solid #F26376;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  text-align: center;
  padding: 13px 39px;
  margin: 17px auto 95px auto;
}

.btn-browse:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
}

/* OFFERS */
.offers {
  min-height: 341px;
  background-color: #222224;
}

.offers-menu {
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-item {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-item a,
.offers-item p {
  display: inline-block;
  margin: 0;
}

.offers-item img {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.offers-item img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.offers-h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.offers-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 200;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

/* FEEDBACK */
.feedback {
  background-color: #c9c0c2;
  min-height: 448px;
  background-image: url(../img/subscribe_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-wrap {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-fase p {
  display: inline-block;
  margin: 0;
}

.feedback-face {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.face-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin: 0;
}

.feedback-face a {
  margin-bottom: 30px;
}

.feedback-subscribe {
  max-width: 557px;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-subscribe p {
  display: block;
  text-align: center;
  margin: 0;
}

.subscribe-text {
  margin: 0;
  max-height: 61px;
}

.text-h2 {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.text-h3 {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.email-filed {
  width: 256px;
  height: 49px;
  border: none;
  background-color: #E1E1E1;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding: 10px;
  padding-left: 20px;
}

.email-filed:focus {
  border: 1px solid darkgrey;
  outline: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #b8b6b6;
}

.email-filed:hover {
  background-color: #b8b6b6;
}

.submit-btn {
  width: 100px;
  height: 49px;
  border: none;
  background-color: #F16D7F;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
}

.email-filed:focus::-webkit-input-placeholder {
  display: none;
}

.email-filed:focus:-ms-input-placeholder {
  display: none;
}

.email-filed:focus::-ms-input-placeholder {
  display: none;
}

.email-filed:focus::placeholder {
  display: none;
}

.email-filed::-webkit-input-placeholder {
  font-family: inherit;
}

.email-filed:-ms-input-placeholder {
  font-family: inherit;
}

.email-filed::-ms-input-placeholder {
  font-family: inherit;
}

.email-filed::placeholder {
  font-family: inherit;
}

/* FOOTER */
.footer {
  min-height: 79px;
  background-color: #222;
}

.footer-menu {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.social-link {
  text-decoration: none;
  color: #222;
  background-color: white;
  font-size: 22px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.social-link:hover {
  color: white;
  background-color: #F16D7F;
}

.footer-menu p {
  display: inline-block;
  margin: 0;
}

.copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

/* CATALOG */
/* .catalog-header */
.catalog-header {
  min-height: 148px;
  background-color: #F8F3F4;
}

.catalog-wrap {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-header a {
  text-decoration: none;
  display: block;
}

.catalog-header h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.catalog-header h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.catalog-header .active-list {
  color: #F16D7F;
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* filter-menu */
.filter-menu {
  margin-top: 51px;
}

.fiatured-items-catalog {
  margin-top: 64px;
}

.filter-menu a {
  text-decoration: none;
  display: block;
  margin: 0;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.filter-left-menu {
  margin-right: 320px;
  position: relative;
  width: 70px;
  height: 17px;
}

.filter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.filter-item-title {
  padding-left: 17px;
  border: none;
  outline: none;
}

.filter-item-title:focus {
  outline: 0;
  border: 0;
}

.filter-item-title ::-webkit-details-marker {
  display: none;
}

.filter-list {
  list-style-type: none;
  padding-left: 17px;
}

.filter-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-item {
  margin-bottom: 11px;
}

.drop-menu {
  width: 360px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  top: -10px;
  z-index: 10;
  padding-top: 10px;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.filter-drop-title {
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  margin-bottom: 16px;
}

.filter-h2-drop {
  margin: 0;
  margin-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.filter-drop-menu-icon {
  fill: #EF5B70;
}

.summary-title {
  width: 327px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 4px solid  #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
}

.filter-left-menu:hover .drop-menu {
  display: block;
}

.filter-center-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 296px;
}

.ico-down {
  margin-bottom: 2px;
  margin-left: 9px;
}

.filter-h2 {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 10px;
  display: block;
}

.choose-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 30px;
}

.choose-size {
  position: relative;
}

.size {
  text-align: center;
  margin-left: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.size-list {
  list-style-type: none;
  padding: 0;
}

.check-size {
  vertical-align: middle;
  margin-bottom: 5px;
}

.size-item {
  margin: 7px;
}

.drop-menu-trending {
  width: 132px;
  min-height: 103px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.choose-trending:hover .drop-menu-trending {
  display: block;
}

.drop-menu-size {
  width: 79px;
  min-height: 103px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.choose-size:hover .drop-menu-size {
  display: block;
}

.drop-menu-price {
  width: 79px;
  min-height: 103px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.choose-price:hover .drop-menu-price {
  display: block;
}

.product-nav {
  height: 44px;
  margin-top: 48px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination {
  padding: 0;
  margin: 0;
  height: 44px;
  width: 284px;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-nav .page-item {
  float: left;
  list-style-type: none;
}

.product-nav a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.page-link {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.page-link-active {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
}

.pagination img {
  display: block;
  margin: auto;
}

/* PRODUCT */
.product-img {
  min-height: 777px;
  background-color: #F7F7F7;
  /* background-color: #866060; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.product-img img {
  z-index: 9;
  position: relative;
}

.product-img a.scroll {
  display: block;
  width: 47px;
  height: 47px;
  background-color: #EAEAEA;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i.fa-angle-left,
i.fa-angle-right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #000000;
  font-weight: 600;
}

i.fas:hover {
  color: #F16D7F;
}

.drop-menu-color {
  width: 128px;
  min-height: 103px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.choose-color:hover .drop-menu-color {
  display: block;
}

.drop-menu-quantity {
  width: 90px;
  min-height: 103px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.choose-quantity:hover .drop-menu-quantity {
  display: block;
}

/* product-content */
.wrap-product-content {
  min-height: 601px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  z-index: 10;
  margin-top: -55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 128px;
}

.product-content a {
  text-decoration: none;
}

.product-content p {
  display: block;
  padding: 0;
}

.product-content-h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 64px;
  margin-bottom: 0;
}

hr.rose-line {
  border: none;
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  color: #EF5B70;
  margin-top: 12px;
  margin-bottom: 0;
}

.product-content-h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
  margin-bottom: 0;
}

.product-content-text {
  width: 555px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48px;
  margin-bottom: 0;
}

.product-content-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
  margin-bottom: 0;
}

hr.line {
  border: none;
  background-color: #EAEAEA;
  color: #EAEAEA;
  width: 642px;
  height: 1px;
  margin-top: 64px;
  margin-bottom: 0;
}

.filter-prod {
  margin-top: 64px;
  margin-bottom: 0;
}

.btn-add-cart {
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 0;
}

.cart-svg {
  margin-left: 24px;
  margin-right: 22px;
  fill: #EF5B70;
}

.btn-add-cart:hover {
  color: #FFFFFF;
  background-color: #EF5B70;
}

.btn-add-cart:hover .cart-svg {
  fill: #FFFFFF;
}

.rose_cart_ico {
  margin: 23px;
}

.feedback-product {
  margin-top: 128px;
}

/* CART */
.cards-item {
  margin-top: 96px;
}

.cart-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clear {
  float: left;
  margin-bottom: 0;
}

.continue {
  float: right;
  margin-bottom: 0;
}

.cart-card p {
  display: block;
  margin: 0;
}

.cart-detail p,
.cart-filed {
  display: block;
}

.cart-card {
  width: 652px;
  min-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
  -webkit-box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.prod-quantity {
  float: left;
}

.cards-item a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.cart-card {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  cursor: pointer;
  background: none;
}

.btn-control {
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  text-align: center;
  padding: 14px;
  margin-top: 32px;
}

.cart-card h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 42px;
}

.prod-parameter {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.quantity-item {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  padding-left: 15px;
}

.card-price {
  color: #EF5B70;
}

.cart-card-content {
  margin-left: 31px;
}

.cart-detail {
  margin-top: 113px;
}

.adress-det p {
  margin: 0;
}

.clear:hover {
  background-color: #b8b6b6;
}

.continue:hover {
  background-color: #b8b6b6;
}

.adress-filed {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-filed {
  width: 360px;
  height: 45px;
  border: 1px solid  #A4A4A4;
  padding-right: 10px;
  padding-left: 17px;
  margin-top: 20px;
}

.cart-filed::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart-filed:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart-filed::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart-filed::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.btn-quote {
  width: 101px;
  height: 35px;
  border: 1px solid  #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 23px;
  background-color: #ffffff;
}

.btn-quote:hover {
  background-color: #b8b6b6;
}

.check {
  width: 360px;
  min-height: 214px;
  background-color: #F5F3F3;
  margin-top: 57px;
  padding-top: 39px;
}

.cart-line {
  margin: 0;
  margin-left: 43px;
  margin-right: 42px;
}

.cart-line {
  width: 275px;
  height: 1px;
  color: #E2E2E2;
  margin-top: 21px;
}

.btn-checkout {
  width: 273px;
  height: 50px;
  border: none;
  background-color: #F16D7F;
  color: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 17px;
  margin-left: 44px;
  margin-right: 43px;
  cursor: pointer;
}

.sub-total {
  margin-top: 0;
  text-align: end;
  margin-right: 34px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.grand-total {
  margin-top: 12px;
  text-align: end;
  margin-right: 37px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.sub-price {
  margin-left: 15px;
}

.total-price {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 15px;
}

/* REGISTRATION */
.registration-filed {
  min-height: 675px;
  background-color: #ffffff;
}

.registration-filed .form-filed {
  margin-right: 128px;
}

.registration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.registration-filed p,
.registration-filed h2 {
  display: block;
  margin: 0;
}

.registration-filed .name-filed {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.form-filed .name {
  padding-top: 64px;
}

.registration-filed .filed {
  display: block;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  margin-top: 20px;
  padding-left: 17px;
  padding-right: 10px;
}

.filed::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  line-height: 40px;
}

.filed:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  line-height: 40px;
}

.filed::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  line-height: 40px;
}

.filed::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  line-height: 40px;
}

.registration-filed .filed:focus {
  border: 1px solid #858484;
}

.registration-filed .gender {
  margin: 31px 0;
  margin-right: 10px;
  vertical-align: middle;
}

.gender-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.registration-filed .pass-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration-filed .btn-registration {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
  background-image: url(../img/arrow-right_ico.svg);
  background-repeat: no-repeat;
  background-position: 130px;
  margin-top: 39px;
  cursor: pointer;
}

.loyalty-text {
  margin-top: 64px;
}

.loyalty-text h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-text p,
.loyalty-text li {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-text p {
  margin-top: 22px;
}

.loyalty-text ul {
  list-style-type: none;
  list-style-image: url(../img/list_marker.svg);
  margin-top: 21px;
}

.loyalty-text li {
  margin-bottom: 16px;
}

.feedback-registration {
  margin-top: 0%;
}

@media (max-width: 1180px) {
  .wrap {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-menu {
    padding: 18px 32px 0 32px;
  }
  .promo, .promo-right, .promo-left {
    min-height: 368px;
  }
  .promo-img {
    width: 386px;
    height: 368px;
  }
  .promo-right h2 {
    font-size: 22px;
    line-height: 29px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
  }
  .promo-right h2 .brand {
    font-size: 42px;
    line-height: 53px;
  }
  .promo-right h2 .fashion {
    font-size: 22px;
    line-height: 29px;
  }
  .img-men, .img-kids, .img-women {
    min-width: 232px;
    min-height: 168px;
  }
  .img-acc {
    min-height: 116px;
  }
  .offers-menu {
    min-height: 341px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 64px;
  }
  .offers-item {
    margin-top: 48px;
  }
  .feedback-wrap {
    min-height: 448px;
    padding-top: 64px;
    padding-bottom: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback-subscribe {
    margin-top: 48px;
  }
  .filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
  .choose-link {
    font-size: 14px;
    line-height: 14px;
    margin-right: 23px;
  }
  .loyalty-text {
    margin-top: 40px;
  }
  .form-filed .name {
    padding-top: 40px;
  }
  .details {
    margin-top: 33px;
  }
  .loyalty-text h2 {
    font-size: 16px;
    line-height: 19px;
  }
  .loyalty-text p,
  .loyalty-text li {
    font-size: 16px;
    line-height: 19px;
  }
  .registration-filed .form-filed {
    margin-right: 22px;
  }
  .cart-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart-card {
    width: 734px;
    min-height: 306px;
  }
  .cards-item {
    margin-top: 59px;
  }
  .btn-control {
    margin-top: 22px;
  }
  .clear {
    margin-left: 113px;
  }
  .continue {
    margin-right: 113px;
  }
  .cart-detail {
    margin-top: 64px;
  }
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .check {
    padding-top: 20px;
  }
  .product-img {
    min-height: 624px;
  }
  .product-img img {
    width: 466px;
    max-height: 565px;
  }
  .wrap-product-content {
    z-index: 0;
    margin-top: 0;
  }
  .feedback-product {
    margin-top: 98px;
  }
}

@media (max-width: 808px) {
  .wrap {
    max-width: 375px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .right-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-right: 8px;
  }
  .left-menu {
    padding-left: 8px;
  }
  .shopping {
    margin-top: 50px;
  }
  .promo, .promo-right {
    min-height: 363px;
  }
  .promo-right {
    width: 263px;
    padding: 0;
    margin: 0 auto;
  }
  .promo-left {
    display: none;
  }
  .hidden {
    display: none;
  }
  .promo-right h2 {
    font-size: 20px;
    line-height: 24px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
  }
  .promo-right h2 .brand {
    font-size: 36px;
    line-height: 46px;
  }
  .promo-right h2 .fashion {
    font-size: 20px;
    line-height: 24px;
  }
  .img-men, .img-kids, .img-women {
    min-width: 343px;
    min-height: 249px;
  }
  .img-acc {
    min-height: 111px;
  }
  .offers-menu {
    min-height: 341px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 64px;
  }
  .offers-item {
    margin-top: 46px;
  }
  .feedback-wrap {
    min-height: 448px;
    padding-top: 64px;
    padding-bottom: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-nav {
    margin-top: 40px;
    margin-bottom: 64px;
  }
  .offers-menu {
    padding-bottom: 81px;
  }
  .feedback-subscribe {
    margin-top: 59px;
    margin-bottom: 109px;
  }
  .footer-menu {
    min-height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-menu {
    margin-top: 43px;
    margin-bottom: 25px;
  }
  .footer-menu {
    padding-bottom: 24px;
  }
  /*CATALOG*/
  .catalog-wrap {
    min-height: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog-header {
    min-height: 148px;
  }
  .catalog-header h2 {
    margin: 0;
  }
  .crumbs h3 {
    margin: 0;
  }
  .crumbs {
    margin-top: 32px;
  }
  .arrivals {
    margin-top: 24px;
  }
  .crumbs {
    margin-bottom: 46px;
  }
  .filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
  }
  .filter-center-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 260px;
  }
  .filter-h2 {
    display: none;
  }
  .filter-left-menu {
    margin-right: 61px;
  }
  .filter-title {
    padding: 0;
  }
  .choose-link {
    font-size: 10px;
    line-height: 14px;
    margin-right: 23px;
  }
  .fiatured-items-catalog {
    margin-top: 41px;
  }
  .cards {
    margin-bottom: 16px;
  }
  .registration-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration-filed .details {
    margin-top: 2px;
  }
  .registration-wrap {
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-filed {
    margin-left: 8px;
    margin-right: 8px;
  }
  .loyalty-text {
    margin-left: 8px;
    margin-right: 8px;
  }
  .loyalty-text ul {
    padding-left: 30px;
  }
  .feedback-registration {
    margin-top: 100px;
  }
  .cart-card {
    width: 358px;
    min-height: 188px;
  }
  .cart-product {
    width: 143px;
    max-height: 188px;
  }
  .prod-parameter {
    font-size: 14px;
    line-height: 17px;
  }
  .card-price {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-card h2 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 13px;
    margin-bottom: 25px;
  }
  .close-btn img {
    width: 9px;
    height: 9px;
  }
  .close-btn {
    top: 17px;
    right: 12px;
  }
  .quantity-item {
    width: 24px;
    height: 15px;
    margin-left: 15px;
  }
  .btn-control {
    width: 175px;
    height: 33px;
    padding: 9px;
    margin-top: -10px;
  }
  .clear {
    margin-left: 0;
  }
  .continue {
    margin-right: 0;
  }
  .cards-item a {
    font-size: 12px;
    line-height: 14px;
  }
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feedback-product {
    margin-top: 96px;
  }
  hr.line {
    width: 175px;
  }
  .product-img img {
    width: 374px;
    max-height: 454px;
  }
  .product-content-text {
    width: 326px;
  }
}
/*# sourceMappingURL=style.css.map */